#lil-robot {
  animation: lil-robot 8s infinite ease-in-out forwards 2s;
  transform-origin: bottom center;
}

#lil-robot--eye {
  animation: lil-robot--eye 8s infinite ease-in-out forwards 2s;
}

#big-robot--torso {
  animation: big-robot--torso 8s infinite ease-out forwards;
  transform-origin: bottom center;
}

#big-robot--head {
  animation: big-robot--head 8s infinite ease-out forwards;
  transform-origin: 50% 80%;
}

#big-robot--arm {
  animation: big-robot--arm 8s infinite ease-out forwards;
  transform-origin: top right;
}

@keyframes lil-robot {
  0% {
    transform: translateX(0) skewX(3deg);
  }
  30% {
    transform: translateX(800px) skewX(0);
  }
  60% {
    transform: translateX(0) skewX(-2deg);
  }
  61.5% {
    transform: translateX(0) skewX(2deg);
  }
  63% {
    transform: translateX(0) skewX(0deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes lil-robot--eye {
  0% {
    transform: translate(12px, 2px);
  }
  30% {
    transform: translate(12px, 2px);
  }
  35% {
    transform: translate(0);
  }
  60% {
    transform: translate(0);
  }
  61% {
    transform: translate(0);
  }
  90% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes big-robot--torso {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(0);
  }
  61% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes big-robot--head {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes big-robot--arm{
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(0);
  }
}